/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 20, 2023, 7:07:42 AM
    Author     : Asus
*/
body{
    background-image: url("../img/fpt-ho.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
.login-main{
    width: fit-content;
    border: 1px solid orange;
    background: orange;
    padding: 20px;
   position: fixed;
    top: 40%;
    left: 40%;
}
button{
    background-color: orange;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header-info{
    padding-top: 1.5em;
    padding-left: 5em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: normal;
    font-family: sans-serif;
}

.header-img{
    padding-right: 5em;
}
.header img{
    width: 12em;
    height: 10em;

}
