.header{
    display: flex;
    justify-content: space-between;
}

.header-info{
    padding-top: 1.5em;
    padding-left: 5em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: normal;
    font-family: sans-serif;
}

.header-img{
    padding-right: 5em;
}
.header img{
    width: 12em;
    height: 10em;
}

.lecturerinput{
    display: flex;
    justify-content: center;
    margin-bottom: 0.2em;
}
.timetable{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

.timetable td{
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
.timetable-head{
    background-color: orange;
}
.timetable td{
    border-left: white solid 1px;
}
.dateWeek{
    border-top: white solid 1px;
}